.bg {
	background-color: #abe;
	width: 100%;
	height: 100%;
}

.full-screen {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}

body {
	overflow-y: hidden;
}

.pickRange {
	position: absolute;
}